.nombres{
  background-color: #9cd3d3;
  border-radius: 13px;
  margin:-6px 0px 5px 0px; 
  border: solid black 2px;
  margin-top: 12px;
  text-align: center;
  color:black;
  display: block;
  font-size: 30px;
font-weight: 300;
overflow:hidden;
text-overflow: ellipsis;
white-space:nowrap;
text-decoration: underline blue;

  }
  .fondo{

    width:auto;
    height: 100%;
    display: flow-root;
    min-height: 600px;

     
       background: linear-gradient(89.9deg, rgba(178, 253, 238, 0.96) -8.1%, rgb(207, 244, 254) 26.3%, rgba(207, 244, 254, 0.48) 47.5%, rgba(254, 219, 243, 0.63) 61.5%, rgb(254, 219, 243) 78.7%, rgb(254, 207, 210) 109.2%);
      background-repeat: no-repeat;
      background-size: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    border-radius: 15px;

   
  }
  .nombres:hover{
    max-height: 90px;
    text-overflow: clip;
    white-space: normal;
    text-overflow: clip;
  
  }
  
  .gender{
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: -1em;
  }
  
  .specie{
  text-align: center;
  margin-top: 10px;
  }
  .imagen{
    width: 278px;
    height: 278px;
    border-radius: 50%;
    border: solid black 3px;
    display:flex;
    
}
.cartaprin{
    background-image: url("https://cdn.shopify.com/s/files/1/0280/4731/0936/collections/Logos_SitioWeb2-06_1024x.jpg?v=1601320717");
    margin-top: 40px;
    margin-inline: 20px;
    border: solid black 5px;
    border-radius: 4%;
    background-repeat: repeat;
    background-size:44%;
    font-size: 17px;
    font-family:cursive;
    display: inline-block;
    box-sizing:content-box;
 
   flex-wrap: wrap;
    margin-bottom: 60px;
    width: 24.5%;
    max-width: 24.5%;
    overflow: hidden;
    }
   
    select {
      /* appearance:none; 
      -webkit-appearance: none; 
	    -moz-appearance: none;   */
     background:linear-gradient( #ffcbcb, #bae8e8);
     margin-top: 100px;
     position: fixed;
     /* transition: all 0.25s ease; */
  
     justify-content:center;
    }

  


    .filterby  {
      /* appearance:none; */
      /* -webkit-appearance: none; */
	   /* -moz-appearance: none; */
      font-size: 14px;
      font-family:cursive;
      width: 114px;
      height: 35px;
      border-radius: 10px;
      border:solid black 2px;
      font-weight: 900;
      margin-inline: 20px;
     margin-left: 150px;
     margin-top: -25px;
     position:absolute;
     cursor: pointer;
    }
   
    .orderby{
      font-size: 14px;
      font-family:cursive;
      width: 114px;
      height: 35px;
      border-radius: 10px;
      border:solid black 2px;
      font-weight: 900;
      margin-left: -201px;
      margin-top: -23px;
      position: absolute;   
      cursor: pointer;
    }
    .filter{
      color:black;
      font-size: 19px;
      font-family: cursive;
      font-weight: 600;
    position: absolute;
    margin-top:-20px;
    margin-left: 612px;
     }
     
    .order{
      color:black;
      font-size: 19px;
      font-family: cursive;
      font-weight: 600;
    position: relative;
    top:19px;
    left: -266px;
     }
    option{
      color:black;
    background-color: #fae3d9;
     font-weight: 900;
     border:solid black 2px;
     border-radius: 0px;
    }

    .link{
      text-decoration: none;
      color:black;
      font-weight: 700;
      text-decoration: underline #7c73e6 4px;
    }
    .button{
      width: 33px; 
      height:23px;
      border: solid black 2px;
    text-align: center;
    border:0px;
    border-radius: 25px;;
    padding: 0px;
    border: solid black 1px;
    margin-inline: 4px;
    /* display: none; */
    }


 .favorites{
  font-size: 50px;
margin:0px;
  font-family: cursive;
  font-weight: 600;
  text-align: center;
color: black;


 }
